@font-face {
  font-family: "Pinyon Script";
  src: url("./PinyonScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "EB Garamond";
  src: url("./EbGaramond/EBGaramond-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}


/* Cinzel Decorative */

@font-face {
  font-family: "Cinzel Decorative";
  src: url("./CinzelDecorative/CinzelDecorative-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("./CinzelDecorative/CinzelDecorative-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cinzel Decorative";
  src: url("./CinzelDecorative/CinzelDecorative-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* Comorant SC */

@font-face {
  font-family: "Cormorant SC";
  src: url("./ComorantSC/CormorantSC-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("./ComorantSC/CormorantSC-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("./ComorantSC/CormorantSC-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("./ComorantSC/CormorantSC-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cormorant SC";
  src: url("./ComorantSC/CormorantSC-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* Jersey 10 */

@font-face {
  font-family: "Jersey 10";
  src: url("./Jersey10/Jersey10-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}